<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "ryan march", root_path, id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home",	     root_path %></li>
						<li><%= link_to "StarCats",  starcats_path %></li>
						<li><%= link_to "Resume",    resume_path %></li>
						<li><%= link_to "Help",      help_path %></li>
						<li><%= link_to "Subscribe", subscribe_path %></li>
					</ul>
				</nav>
		</div>
	</div>
</header>